<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>完了画面</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"
        href="http://fonts.googleapis.com/css?family=Exo:900"/>
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
</head>
<body>

<nav th:insert="header.html :: header"></nav>
  <div class="ui main container">
    <div class="text-center">
      <div class="page-title">詳細見積もりのお申し込みが完了しました。</div>
      <div class="label">お電話にて正確な見積もり結果をお伝えいたします。(×××-×××-××××)</div>
      <div class="form-group">
        <a class="btn btn-back" href="/" role="button">TOPへ戻る</a>
      </div>
      <div class="page-title">今後の引っ越しスケジュール(目安)</div>
      <table border="1"  bordercolor="blue" align="center">
        <tr>
          <td>申し込み日</td>
          <td>本日</td>
        </tr>
        <tr>
          <td>本見積日</td>
          <td>3営業日以内</td>
        </tr>
        <tr>
          <td>引っ越し可能日</td>
          <td>1週間後以降</td>
        </tr>
      </table>
      <br>
      <br>
      <br>
      <div class="page-titles">引越し1~2週間前</div>
      <div class="checklist" align="left">
        <br>□転出届を出す
        <br>□転校届を出す 
        <br>□国民健康保険の資格喪失届を出す 
        <br>□印鑑登録の廃止 
        <br>□原動機付き自転車(125cc以下)の廃車申告 
        <br>□ガス会社への移転連絡 
        <br>□電力会社への移転連絡 
        <br>□水道局への移転連絡 
        <br>□NHK・ケーブルテレビへの移転連絡 
        <br>□郵便局の転送手続き 
        <br>□携帯電話会社への移転連絡 
        <br>□銀行・保険などの住所変更 
        <br>□新居レイアウトを決定
        <br>□荷造り開始
      </div>

    <div class="text-center">
      <a class="btn btn-primary" th:href="@{/sendmail}" role="button">内容を登録メールアドレスに送信する</a>
    </div>

      <div class="page-title"></div>
    </div>
  </div>
<script src="../js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script src="../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>